/Servlet/nbproject/private/
/CreateServletJakarta/nbproject/private/
/Servlet/build/
/Servlet/dist/
/CreateServletXML/nbproject/private/
/CreateServletXML/build/
/CreateServletXML/dist/
/CreateServletUltraSpeed/nbproject/private/
/CreateServletUltraSpeed/build/
/LAB 01/nbproject/private/
/LAB 01/build/
/LAB01 ChatGPT/nbproject/private/
/LAB01 ChatGPT/build/
/LAB 02/nbproject/private/
/LAB 02/build/
/LAB 03/nbproject/private/
/LAB 03/build/
/LAB 03 ChatGPT/nbproject/private/
/LAB 03 ChatGPT/build/
/InitParamAndContextParam/nbproject/private/
/InitParamAndContextParam/build/
/LAB 04/nbproject/private/
/LAB 04/build/
/LAB 04 with Chat GPT/nbproject/private/
/LAB 04 with Chat GPT/build/
/ResponseSendRedirectAndRGF/nbproject/private/
/ResponseSendRedirectAndRGF/build/
/JSP/nbproject/private/
/JSP/build/
/LAB 05/nbproject/private/
/LAB 05/build/
/LAB05/nbproject/private/
/LAB05/build/
LAB05/nbproject/
LAB05/build.xml
LAB05/src/conf/
