/Servlet/nbproject/private/
/CreateServletJakarta/nbproject/private/
/Servlet/build/
/Servlet/dist/
/CreateServletXML/nbproject/private/
/CreateServletXML/build/
/CreateServletXML/dist/
/CreateServletUltraSpeed/nbproject/private/
/CreateServletUltraSpeed/build/
/LAB 01/nbproject/private/
/LAB 01/build/
/LAB01 ChatGPT/nbproject/private/
/LAB01 ChatGPT/build/
/LAB 02/nbproject/private/
/LAB 02/build/
/LAB 03/nbproject/private/
/LAB 03/build/
/LAB 03 ChatGPT/nbproject/private/
/LAB 03 ChatGPT/build/
/InitParamAndContextParam/nbproject/private/
/InitParamAndContextParam/build/
/LAB 04/nbproject/private/
/LAB 04/build/
/LAB 04 with Chat GPT/nbproject/private/
/LAB 04 with Chat GPT/build/
/ResponseSendRedirectAndRGF/nbproject/private/
/ResponseSendRedirectAndRGF/build/
/JSP/nbproject/private/
/JSP/build/
/LAB 05/nbproject/private/
/LAB 05/build/
/LAB05/nbproject/private/
/LAB05/build/
LAB05/nbproject/
LAB05/build.xml
LAB05/src/conf/
/CRUD With Collections/nbproject/private/
/CRUD With Collections/build/
CRUD With Collections/build.xml
CRUD With Collections/nbproject/
/CRUD With DB/build/
CRUD With DB/build.xml
/CRUD With DB/dist/
/CRUD With DB 02/nbproject/private/
/CRUD With DB 02/build/
/CRUD With DB2/nbproject/private/
/CRUD With DB2/build/
/Store/nbproject/private/
/thi thu PE/PE_SAMPLE_01/nbproject/private/
/thi thu PE/PE_SAMPLE_01/build/
/thi thu PE/PE_SAMPLE_02/nbproject/private/
/thi thu PE/PE_SAMPLE_02/build/
/thi thu PE/PE_SAMPLE_03/nbproject/private/
/thi thu PE/HE173053-Phan Tuấn Huy/given/Q1_HE173053/build/
/thi thu PE/HE173053-Phan Tuấn Huy/given/Q1_HE173053/nbproject/private/
/thi thu PE/HE173053-Phan Tuấn Huy/given/Q2_HE173053/build/
/thi thu PE/HE173053-Phan Tuấn Huy/given/Q2_HE173053/nbproject/private/
/thi thu PE/PE_SAMPLE_03/build/
/thi thu PE/PE_SAMPLE_03/dist/
/SU23 - HL - 02 - not/PRJ301PE_SU23_690754_1689493516/PRJ301PE_SU23_690754/PaperNo_6/All/Given/Given/Q1_XXX/nbproject/private/
/SU23 - HL - 02 - not/PRJ301PE_SU23_690754_1689493516/PRJ301PE_SU23_690754/PaperNo_6/All/Given/Given/Q2_XXX/nbproject/private/
/SU23 - HL - 02 - not/PRJ301PE_SU23_690754_1689493516/PRJ301PE_SU23_690754/PaperNo_6/All/Given/Given/Q3_XXX/nbproject/private/
/SU23 - HL - 02 - not/PE_SU23_02_Q1/nbproject/private/
/SU23 - HL - 02 - not/PE_SU23_02_Q1/build/
/SU23 - HL - 02 - not/PE_SU23_02_Q2/nbproject/private/
/SU23 - HL - 02 - not/PE_SU23_02_Q2/build/
/SU23 - HL - 02 - not/PE_SU23_02_Q3/nbproject/private/
/SU23 - HL - 02 - not/PE_SU23_02_Q3/build/
/SU23 - HL - 02 - not/PRJ301PE_SU23_690754_1689493516/PRJ301PE_SU23_690754/PaperNo_6/All/Given/Given/Q3_XXX/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/HE173053-Phan Tuấn Huy/given/Q1_HE173053/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/HE173053-Phan Tuấn Huy/given/Q1_HE173053/nbproject/private/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/HE173053-Phan Tuấn Huy/given/Q2_HE173053/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/HE173053-Phan Tuấn Huy/given/Q2_HE173053/nbproject/private/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/HE173053-Phan Tuấn Huy/given/Q3_HE173053/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/HE173053-Phan Tuấn Huy/given/Q3_HE173053/nbproject/private/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_01/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_01/nbproject/private/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_02/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_02/nbproject/private/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_03/build/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_03/dist/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/PE_SAMPLE_03/nbproject/private/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/cau 3 update form/nbproject/private/
/Ex Bonus 01/nbproject/private/
/Ex Bonus 01/build/
/Ex Bonus 02/nbproject/private/
/Ex Bonus 02/build/
/LAB1 - HCM/build/
/LAB1 - HCM/nbproject/private/
/Ex Bonus 03/build/
/Ex Bonus 03/nbproject/private/
/Ex Bonus 04/Ex Bonus 4/nbproject/private/
/Ex Bonus 04/Ex Bonus 4/build/
/Ex Bonus 04/drive-download-20240517T085641Z-001/Lab2t_3/Lab2t_3/build/
/Ex Bonus 04/drive-download-20240517T085641Z-001/Lab2t_3/Lab2t_3/dist/
/Ex Bonus 04/drive-download-20240517T085641Z-001/Lab2t_3/Lab2t_3/nbproject/private/
/Evergreen/target/
/Evergreen2/target/
/CHUA PE/thi thu PE FA24 HOLA/thi thu PE FA24 HOLA/cau 3 update form/build/
/Bonus hoc PE/Ex 03/WebApplication3/nbproject/private/
/Bonus hoc PE/Ex 03/WebApplication3/build/
/Bonus hoc PE/Ex 04/PRJ301_PE_SU23_200912/prj301_pe_su23_200912/PRJ301 Slot2/PRJ301_PE_SU23_200912/PaperNo_1/1/PE_PRJ301_2/nbproject/private/
/Bonus hoc PE/Ex 04/PRJ301_PE_SU23_200912/prj301_pe_su23_200912/PRJ301 Slot2/PRJ301_PE_SU23_200912/PaperNo_1/1/PE_PRJ301_2/build/
/Bonus hoc PE/Ex 05/prj301_pe_su23_109623/PRJ301/PRJ301_PE_SU23_109623/PaperNo_1/1/PE_PRJ301_1/nbproject/private/
/Bonus hoc PE/Ex 05/prj301_pe_su23_109623/PRJ301/PRJ301_PE_SU23_109623/PaperNo_1/1/PE_PRJ301_1/build/
/Bonus hoc PE/Ex 06/prj301_pe_sp24_806567/PRJ301_PE_SP24_806567/PaperNo_1/All/given/given/Q1_XXX/build/
/Bonus hoc PE/Ex 06/prj301_pe_sp24_806567/PRJ301_PE_SP24_806567/PaperNo_1/All/given/given/Q1_HE11111/nbproject/private/
/Bonus hoc PE/Ex 06/prj301_pe_sp24_806567/PRJ301_PE_SP24_806567/PaperNo_1/All/given/given/Q1_HE11111/build/
/Bonus hoc PE/Ex 06/prj301_pe_sp24_806567/PRJ301_PE_SP24_806567/PaperNo_1/All/given/given/Q2_XXX/build/
/Bonus hoc PE/Ex 06/prj301_pe_sp24_806567/PRJ301_PE_SP24_806567/PaperNo_1/All/given/given/Q3_XXX/build/
/Bonus hoc PE/Ex 07/pe_prj301_sp24_357468/PE_PRJ301_SP24_357468/PaperNo_1/1/PE_PRJ301/build/
/Bonus hoc PE/Ex 07/pe_prj301_sp24_357468/PE_PRJ301_SP24_357468/PaperNo_1/1/PE_PRJ301/nbproject/private/
/Bonus hoc PE/Ex 08/PRJ301_PE_SP24B5_502263 (1)/PRJ301_PE_SP24B5_502263/PaperNo_2/All/given/given/Q1_XXX/nbproject/private/
/Bonus hoc PE/Ex 08/PRJ301_PE_SP24B5_502263 (1)/PRJ301_PE_SP24B5_502263/PaperNo_2/All/given/given/Q2_XXX/nbproject/private/
/Bonus hoc PE/Ex 08/PRJ301_PE_SP24B5_502263 (1)/PRJ301_PE_SP24B5_502263/PaperNo_2/All/given/given/Q3_XXX/nbproject/private/
/Bonus hoc PE/Ex 08/PRJ301_PE_SP24B5_502263 (1)/PRJ301_PE_SP24B5_502263/PaperNo_2/All/given/given/Q1_XXX/build/
/Bonus hoc PE/Ex 08/PRJ301_PE_SP24B5_502263 (1)/PRJ301_PE_SP24B5_502263/PaperNo_2/All/given/given/Q2_XXX/build/
/Bonus hoc PE/Ex 08/PRJ301_PE_SP24B5_502263 (1)/PRJ301_PE_SP24B5_502263/PaperNo_2/All/given/given/Q3_XXX/build/
