<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>controller.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>controller.DetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
</web-app>
